* {
    box-sizing: border-box;
}
.image-wrapper{
    position: relative;
}
.image-wrapper .link, .image-wrapper .mobile-link{
    position: absolute;
}
.image-wrapper .link {
    bottom: 2.6%;
    height: 120px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.image-wrapper .mobile-link {
    bottom: 1.5%;
    height: 95px;
    width: 89%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.image-wrapper .mobile-link a {
    display: inline-block;
    height: 95px;
    width: 100%;
}

.image-wrapper .link a {
    display: inline-block;
    height: 120px;
    width: 100%;
}
.image-wrapper a {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
}
.desktop{
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
}
.image-wrapper img{
    width: 100%;
}

.mobile{
    display: none;
}
.desktop iframe {
    width: 100%;
    padding: 3rem 0 8rem;
    height: 800px;
}
.mobile iframe {
    width: 100%;
    padding: 2rem 0 2rem 0;
    height: 600px;
}
@media(max-width: 768px){
    .desktop{
        display: none;
    }
    .mobile{
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        flex-flow: row wrap;
    }
}

@media(max-width: 520px){
    .mobile iframe {
        height: 400px;
    } 
}

@media(max-width: 375px){
    .mobile iframe {
        height: 320px;
    } 
}